body{
    background-color:grey;
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}    
a.login{
    text-decoration: wavy;
    color: white;
    margin: 3px;
    border: white 1px;
    padding: 5px;
    font-size: 30px;
}
a:hover{
    color: red;
}
    
