.container{
    width: 74.3% !important;
}


body{
    background-color: #333;
}

#image{
    height: 461px !important;
    width: 461px !important;
}

@media(max-width:1920px){
    #image{
        width: 650px !important;
        height: 520px !important;
    }
}
@media(max-width:1600px){
    #image{
        width: 600px !important;
        height: 480px !important;
    }
}
@media(max-width:1440px){
    #image{
        width: 530px !important;
        height: 493px !important;
    }
}


@media(max-width:1024px){
    #image{
        width: 369px !important;
        height: 347px !important;
    }
}
@media(max-width:768px){
    #image{
        width: 315.5px !important;
        height: 315.5px !important;
    }
}

@media(max-width:600px){
    #image{
        width: 580px !important;
        height: 450px !important; 
    }
}
@media(max-width:589px){
    #image{
        width: 600px !important;
        height: 600px !important;
    }
}

@media(max-width:425px){
    #image{
        width: 383px !important;
        height: 383px !important;
    }
}

@media(max-width:375px){
    #image{
        width: 337px !important;
        height: 337px !important;
    }
}


@media(max-width:320px){
    #image{
        width: 288px !important;
        height: 288px !important;
    }
}
